<a href="https://colab.research.google.com/github/Echo271/Multiple-Linear-Regression/blob/main/Multiple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Multiple Linear Regression
Multiple Linear Regression is

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/kc_house_data.csv')
df = df.drop(['id','date','waterfront','view','sqft_above','sqft_basement','yr_built','yr_renovated','zipcode','lat','long','sqft_living15','sqft_lot15'], axis=1)
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade
0,221900.0,3,1.00,1180,5650,1.0,3,7
1,538000.0,3,2.25,2570,7242,2.0,3,7
2,180000.0,2,1.00,770,10000,1.0,3,6
3,604000.0,4,3.00,1960,5000,1.0,5,7
4,510000.0,3,2.00,1680,8080,1.0,3,8
...,...,...,...,...,...,...,...,...
21608,360000.0,3,2.50,1530,1131,3.0,3,8
21609,400000.0,4,2.50,2310,5813,2.0,3,8
21610,402101.0,2,0.75,1020,1350,2.0,3,7
21611,400000.0,3,2.50,1600,2388,2.0,3,8
21612,325000.0,2,0.75,1020,1076,2.0,3,7

In [ ]:
df.isnull().sum().sum()

0

In [ ]:
from sklearn import linear_model

reg = linear_model.LinearRegression()
reg.fit(df[['bedrooms','sqft_living','sqft_lot','floors','condition','grade']],df.price)

LinearRegression()

In [ ]:
reg.coef_

array([-4.68999232e+04,  2.16844624e+02, -3.32273016e-01, -2.63193439e+04,
        6.17078467e+04,  1.04290927e+05])

In [ ]:
reg.intercept_

-717416.805911308

In [ ]:
import math
fp = math.floor(reg.predict([[2,1000,1200,1.0,4,6]]))
print(str(fp)+" USD")

251486 USD

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"